# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.db
*.pot
*.pyc
*.pyo
*.pyd
*.coverage
*.migrations/
db.sqlite3

# Environments
.env
.venv/
env/
venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

